name: swipe_plus
description: Simple way to implement horizontal drag interaction.
version: 0.8.0

environment:
  sdk: ">=2.17.2 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter: